<!DOCTYPE html>
<html>
<head>
	<title>Radlex Verifier</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/app.css" rel="stylesheet">

	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.3.1/lodash.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/lib/angular/angular.js"></script>

	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/services.js"></script>
	<script type="text/javascript" src="/js/controllers.js"></script>
	<script type="text/javascript" src="/js/filters.js"></script>
	<script type="text/javascript" src="/js/directives.js"></script>
	<!--
	<script type="text/javascript" src="/js/raddrop-central.min.js"></script>
	-->
</head>
<body ng-app="myApp" ng-controller="AppCtrl">
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<a class="navbar-brand" href="#">RLVerify</a>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<form>
					<div class="form-group">
						<textarea ng-model="textToAnnotate" class="form-control" style="height:400px;"></textarea>
					</div>
					<button class="btn" ng-click="getAnnotations()">Verify</button>
				</form>
			</div>
			<div class="col-md-4">
				<div id="resultContainer">
					<div id="annotationResult">
						<!-- resultant annotated text goes here -->
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div id="resultDetails">
				</div>
			</div>
		</div>
	</div>
</body>
</html>