<!DOCTYPE html>
<html>
<head>
	<title>Radlex Verifier</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/app.css" rel="stylesheet">

	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.3.1/lodash.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/js/lib/angular/angular.js"></script>
	<script src="/js/lib/bootstrap-custom/ui-bootstrap-custom-tpls-0.5.0.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>

	<script src="/js/lib/xml-parser/getRadlex.js"></script>

	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/services.js"></script>
	<script type="text/javascript" src="/js/controllers.js"></script>
	<script type="text/javascript" src="/js/filters.js"></script>
	<script type="text/javascript" src="/js/directives.js"></script>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-43604000-1', 'rlverify.herokuapp.com');
		ga('send', 'pageview');

		</script>
	<!--
	<script type="text/javascript" src="/js/raddrop-central.min.js"></script>
	-->
</head>
<body ng-app="myApp" ng-controller="AppCtrl">
<div class="wrapper">
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<a class="navbar-brand" href="#">RLVerify</a>
		<p class="pull-right navbar-text">
			<a href="https://github.com/jmhmd/rlverify/issues" class="navbar-link" target="_blank">
				<span class="glyphicon glyphicon-question-sign"></span> Report a bug, ask a question, suggest a feature
			</a>
		</p>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<tabset>
					<tab heading="Text">
						<form>
							<div class="form-group">
								<textarea ng-model="textToAnnotate" class="form-control" style="height:400px;"></textarea>
							</div>
							<div class="form-group">
								<button class="btn" ng-click="annotateText()">Verify</button>
							</div>
						</form>
					</tab>
					<tab heading="File">
						<form>
							<div class="form-group">
								<input type="file" id="files" name="file" fileread="uploadFile" />
							</div>
							<div class="form-group">
								<button class="btn" ng-click="annotateFile()">Verify</button>
							</div>
							<div class="form-group">
								<small class="text-muted">FYI: The annotator can take a long time with large files.</small>
							</div>
						</form>
					</tab>
				</tabset>
				<div class="well well-sm">
					<h4>Options</h4>
					<form class="form-horizontal verifier-options" role="form">
						<!--<p class="help-block">Highlight occurences of matched terms:</p>
						<div class="radio">
							<label>
								<input type="radio" ng-model="options.showAllInstances" ng-value="true">
								All
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" ng-model="options.showAllInstances" ng-value="false">
								First 
							</label>
						</div>-->
						<p class="help-block">Choose which ontologies to verify against:</p>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="options.ontologies.Radlex">
								Radlex 
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="options.ontologies.SNOMED">
								SNOMED 
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="options.ontologies.LOINC">
								LOINC 
							</label>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-6">
				<div id="resultContainer">
					<div id="annotationResult">
						<!-- resultant annotated text goes here -->
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div id="resultDetails">
				</div>
			</div>
		</div>
	</div>
	<div class="push"></div>
</div>
<div class="footer">
	<div class="navbar navbar-default">
		<p class="muted navbar-text">
			Created by Jason Hostetter, M.D. and Jim Morrison, M.D. - 2013
		</p>
	</div>
</div>
</body>
</html>